.calc_button {
  width: 240px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 3px 4px #aaa;

  .equals {
    background-color: #5d5fef;
    border-radius: 5px;
    width: 230px;
    height: 52px;
    color: #fff;
    border: none;
  }
}
